body {
  background-color: red;
}

#javascriptDefinition {
  display: none;
}

#operatorsDefinition {
  display: none;
}

#variablesDefinition {
  display: none;
}

#namingDefinition {
  display: none;
}

#functionsDefinition {
  display: none;
}

#jqueryDefinition {
  display: none;
}
